main{
    padding-top: 32px;
}

.background {
    background: url('../images/plans-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: -1;
}

.plan{
    border: 3px #0e4f1f solid;
    border-left: none;
    margin: 1rem 0px;
    width: 80%;
    position: relative;
}

.plan:hover,
.plan:active{
    box-shadow: 2px 2px 2px 4px rgba(0,0 ,0 ,0.5 );
    border: 3px #ff5454 solid;
    border-left: none;
}

#plus{
    background: rgba(213,255,220, 0.95);

}

#free {
    background: rgba(234,252,237, 0.95);
    float:right;
    text-align: right;
    border-left: #0e4f1f 3px solid;
    border-right: none;
}

#free:hover,
#free:active{
    border-left: 3px #ff5454 solid;
}

#clearfix{
    clear: both;
}

#premium {
    background: rgba(14,79,31, 0.95);

}

.plan > a{
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 2rem;
}

.plan__badge{
    font-weight: bold;
    position: absolute;
    top: 0px;
    right: 0;
    color: white;
    background: #ff5454;
    padding: 1rem;
    font-size: 0.8rem;
    margin: 1.3rem
}

.plan__subtitle {
    color: #979797;
}

.plan__description {
    background: white;
    padding: 1rem;
    border: 1px #0e4f1f solid;
    color: #0e4f1f
}

#premium {
    background: #0e4f1f;
}

#premium .plan__title{
    color: white;
}

#premium .plan__subtitle{
    color: #bbb;
}

@media (min-width: 55rem) {
    main{
        /* margin: 3rem auto; */
        max-width: 1920px;
    }
}

@media ( min-width:1920px) {
    .plan{
        margin: 3rem auto;
        border-left: 3px #0e4f1f solid;
    }

    .plan:hover,
    .plan:active{
    border-left: 3px #ff5454 solid;
}



    #free {
        border-right: 3px #0e4f1f solid;
    }

    #free:hover,
    #free:active{
    border-right: 3px #ff5454 solid;
}
}